@inherits LayoutComponentBase

<div class="text-gray-800 text-sm lg:text-base h-screen flex flex-col">
    <div class="bg-teal-900">
        <NavMenu />
    </div>

    <div class="flex-1">
        @Body
    </div>
</div>
