@inherits LayoutComponentBase

<div class="text-gray-800 bg-gray-100 text-sm lg:text-base">
    <div class="bg-teal-900">
        <NavMenu />
    </div>

    <div class="mx-auto">
        @Body
    </div>
</div>
