<div class="main-width general-padding flex justify-between items-center py-4 text-yellow-100">
    <div class="flex items-center">
        <a href="" class="text-2xl font-serif font-extrabold border-yellow-100 border-2 px-2">
            Y
        </a>
        <nav class="ml-6 sm:ml-8 lg:ml-12 space-x-2 sm:space-x-6 ">
            <NavLink href="top/1" ActiveClass="font-semibold" >Top</NavLink>
            <NavLink href="new/1" ActiveClass="font-semibold">Newest</NavLink>
            <NavLink href="ask/1" ActiveClass="font-semibold">Ask</NavLink>
            <NavLink href="show/1" ActiveClass="font-semibold">Show</NavLink>
            <NavLink href="jobs/1" ActiveClass="font-semibold">Jobs</NavLink>
        </nav>
    </div>
    <a href="https://github.com/erwinkn/hnpwa-blazor">
        <img height="24" width="24" src="icons/github.svg" alt="GitHub logo" />
    </a>
</div>

