@if(Stories == null)
{
    <!-- This div centers the elements -->
    <div class="flex h-full justify-center items-center">
        <!-- This div is a container for the animation -->
        <div class="flex items-center loading-bars h-16 md:h-24 lg:h-28 space-x-3 md:space-x-4 lg:space-x-5">
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
            <div class="w-6 md:w-8 bg-teal-900 rounded-sm"></div>
        </div>
    </div>
}
else 
@if(Stories != null)
{
    <!-- First navigation control -->
    <!-- Eventual redirections have already happened so we're good -->
    <div class="rounded-b">
        <PageControls Page=@Page MaxPage=@MaxPage Category=@Name/>
    </div>
    <!-- Stories list -->
    <div class="bg-white main-width rounded shadow my-3 sm:my-4 ">
        @foreach(IStory story in Stories)
        {
            <!-- Padding here due to borders -->
            <div class="general-padding py-4 border-t-2 border-gray-100" @key=story.Id>
                <StoryHeader Story="@story" />
            </div>
        }
    </div>
    <!-- Second navigation control -->
    <div class="rounded-t">
        <PageControls Page=@Page MaxPage=@MaxPage Category=@Name />
    </div>
}