<div class="metadata mt-4">
    <a href="https://news.ycombinator.com/user?id=@Item.User" class="text-teal-800 font-semibold hover:underline">
        @Item.User
    </a>
    <span>
        @Item.TimeAgo
    </span>
    <a class="cursor-pointer" @onclick="Toggle">
        [@toggleIndicator]
    </a>
</div>
@if(show)
{
    <div class="comment max-w-prose text-gray-800">
        @((MarkupString)Item.Content)
    </div>
    <div class="ml-4 sm:ml-6">
        @foreach(IComment kid in Item.Comments)
        {
            <Comment Item="@kid" />
        }
    </div>
}
